:root.theme-dark {
  --page-bg: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --main-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --corners-color: #FF0070;
  --header__theme-menu-button-color: #FF0070;
  --topic-title-color: #FF0070;
  --subtitles-color: #000028;
  --button-hover-border-color: #FF007066;
}

.theme-dark .rec {
  display: inline-block;
}