:root.theme-light {
  --page-bg: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --main-color: #353430;
  --focus-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --corners-color: #353430;
  --header__theme-menu-button-color: #353430;
  --topic-title-color: #353430;
  --subtitles-color: #353430;
  --button-hover-border-color: #32312D66;
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --main-color: #353430;
    --focus-color: #353430;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --corners-color: #353430;
    --header__theme-menu-button-color: #353430;
    --topic-title-color: #353430;
    --subtitles-color: #353430;
    --button-hover-border-color: #32312D66;
  }

  .rec {
    display: none;
  }
}